/node_modules
/bridges/bitfun/node_modules
/packages/core/dist
/packages/core/node_modules
/packages/protocol/dist
/packages/protocol/node_modules
/packages/protocol/node_modules
/packages/analyzer/dist
/packages/rules/node_modules
/packages/rules/dist
/packages/analyzer/node_modules
.bitfun/
/.bitfun/search/flashgrep-index/
